@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed{
    @apply fixed z-[9999] bg-white;
    backdrop-filter: blur(3px);
    /* box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2); */
}

.topscreen{
    @apply fixed z-[9999];
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

.video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.video-content {
    z-index: 2;
}

html,body {
    width: 100vw;
    overflow-x: hidden;
}

/*Overrides for Tailwind CSS */
body {
    font-family: 'Poppins', sans-serif;
}


/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #38573e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #38573e;
    border-radius: 0px;
    border: -10px solid #ffffff;
}

.nav-text {
    /* color: #fff; */
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    position: relative;
}

.nav-text:after {
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    opacity: 0.6;
    transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 0;
}

.nav-text:hover:after {
    width: 100%;
    opacity: 0.9;
}

.underlink {
    color: #38573e;
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    position: relative;
}

.underlink:after {
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #38573e;
    opacity: 0.6;
    transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 0;
}

.underlink:hover:after {
    width: 100%;
    opacity: 0.9;
}

.gilroy {
    font-family: 'Gilroy ExtraBold';
}

.helvetica {
    font-family: 'Libre Baskerville', serif;
}

 /*Overrides for Tailwind CSS */

    /*Form fields*/
    .dataTables_wrapper select,
    .dataTables_wrapper .dataTables_filter input {
        color: #4a5568;
        /*text-gray-700*/
        padding-left: 1rem;
        /*pl-4*/
        padding-right: 1rem;
        /*pl-4*/
        padding-top: .5rem;
        /*pl-2*/
        padding-bottom: .5rem;
        /*pl-2*/
        line-height: 1.25;
        /*leading-tight*/
        border-width: 2px;
        /*border-2*/
        border-radius: .25rem;
        border-color: #edf2f7;
        /*border-gray-200*/
        background-color: #edf2f7;
        
        /*bg-gray-200*/
    }

    /*Row Hover*/
    table.dataTable.hover tbody tr:hover,
    table.dataTable.display tbody tr:hover {
        background-color: #ebf4ff;
        /*bg-indigo-100*/
    }

    /*Pagination Buttons*/
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        font-weight: 700;
        /*font-bold*/
        border-radius: .25rem;
        /*rounded*/
        border: 1px solid transparent;
        /*border border-transparent*/
    }

    

    /*Pagination Buttons - Hover */
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #0000 !important;
        background: #fff !important;
        /*text-white*/
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        /*shadow*/
        font-weight: 700;
        /*font-bold*/
        border-radius: .25rem;
        /*rounded*/
        /*bg-indigo-500*/
        border: 1px solid transparent;
        /*border border-transparent*/
    }

    /*Add padding to bottom border */
    table.dataTable.no-footer {
        border-bottom: 1px solid #3f5e88;
        /*border-b-1 border-gray-300*/
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    /*Change colour of responsive icon*/
    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
        background-color: #38573e !important;
        /*bg-indigo-500*/
    }

    .dataTables_wrapper {
        position: static !important;
    }